<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_commerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="w-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 flex-column p-0">
            <div class="container-fluid category w-100">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Hay Shop</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".container2" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse category">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                    <div style="height:40px; background: #fff; line-height: 1em; font-family: inherit; margin-top: 5px; margin-bottom: 5px; border-radius:3px; ">
                        <input type="text" value="" placeholder="Search Hay.co.uk" style="height:38px; width: 100%;font-family: inherit; font-size:15px; padding-top: 7px; padding-right: 10px; padding-bottom: 10px; line-height:15px; text-indent:8px; " />
                    </div>
                </div>
            </div>
            @*<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse category2 w-100">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/BestSeller">Best Seller</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-page="/TodaysDeal">Today's Deal</a>
                    </li>
                </ul>
            </div>*@
            <div class="navbar-collapse collapse w-100">
                <ul class="navbar-nav d-flex justify-content-around w-100">
                    <li class="nav-item">
                        <a class="nav-link navChoice" asp-area="" asp-page="/BestSeller">Best Seller</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navChoice" asp-area="" asp-page="/TodaysDeal">Today's Deal</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link navChoice" asp-area="" asp-page="/Clothing">Clothing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navChoicek" asp-area="" asp-page="/Jewelery">Jewelery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navChoice" asp-area="" asp-page="/Electronics">Electronics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navChoice" asp-area="" asp-page="/Fragrance">Fragrance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navChoice" asp-area="" asp-page="/Groceries">Groceries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navChoice" asp-area="" asp-page="/Skincare">Skincare</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - HayStore - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="_framework/blazor.server.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
