<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - E_commerce</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="w-100">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3 flex-column p-0">
            <div class="container-fluid category w-100">
            <a class="navbar-brand" asp-area="" asp-page="/Index">HayStore</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".container2" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center category">
                    <form method="post" style="height:40px; background: #fff; line-height: 1em; font-family: inherit; margin-top: 5px; margin-bottom: 5px; border-radius:6px; width:40%; display:flex; flex-direction:row; align-items:center;">
                            <input type="text" value="" name="input" placeholder="Search Hay.co.uk" style="height:40px; width: 100%;font-family: inherit; font-size:15px; padding-top: 7px; padding-right: 10px; padding-bottom: 10px; line-height:15px; text-indent:8px;" />
                            <button type="submit" style="background-color:orange;height:40px;">
                                <span class="fas fa-search" style="color: #25395b; width:2rem; text-align:center;"></span>
                            </button>
                        </form>
            </div>
            <a asp-page="/Basket">
                <i class="fas fa-shopping-cart fa-2x" style="color: #fdb51c; z-index:-1"></i>
                <p style="color:black; position:absolute; top:5px;right:25px; font-weight:bold">
                    9
                </p>
            </a>

        </div>
            <div class="navbar-collapse collapse w-100">
                <ul class="navbar-nav d-flex justify-content-around w-100">
                    <li class="nav-item">
                        <a class="nav-link navChoice" asp-area="" asp-page="/BestSeller">Best Seller</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navChoice" asp-area="" asp-page="/TodaysDeal">Today's Deal</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link navChoice" asp-area="" asp-page="/Clothing">Clothing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navChoice" asp-area="" asp-page="/Jewelery">Jewelery</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navChoice" asp-area="" asp-page="/Electronics">Electronics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navChoice" asp-area="" asp-page="/Fragrance">Fragrance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navChoice" asp-area="" asp-page="/Groceries">Groceries</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link navChoice" asp-area="" asp-page="/Skincare">Skincare</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <div class="">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="display:flex; flex-direction:row;align-content:center">
        <div class="container">
            &copy; 2023 - HayStore - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
        <div style="justify-items:end; ">
            <a style="font-size: 36px; color:grey; text-decoration: none; margin-right:14px" class="fa-brands fa-github" href="https://github.com/larrywongkahei"></a>
            <a style="font-size: 36px; color: grey; text-decoration: none; margin-right: 14px" class="fa-brands fa-linkedin" href="https://www.linkedin.com/in/ka-hei-wong-429b66257/"></a>
            <a style="font-size: 36px; color: grey; text-decoration: none; margin-right: 3rem" class="fa-solid fa-envelope" href="mailto:makemak123@gmail.com"></a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="_framework/blazor.server.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
