@page
@model E_commerce.Pages.BasketModel
@{
}
<body style="background-color:#EAEDED !important;">
        <!--<div style="background-color:white;margin-left:3rem; margin-right:3rem;">
            <div style="padding:1.5rem;font-size: 14px; line-height: 20px;">-->
                @*Show this instead if the basket is empty*@
                <!--<h1 style="font-weight: 400; font-size: 28px; line-height: 36px;">
                    Your Shopping Cart is empty.
                </h1>
                <p>
                    Your shopping basket lives to serve. Give it purpose – fill it with groceries, clothing, household supplies, electronics and more.
                    Continue shopping on the Haystore homepage, learn about today's deals.
                </p>
            </div>-->
            <div>
            <div style="margin-left:1.5rem; margin-right:1.5rem; margin-top:1.5rem; font-size: 14px; line-height: 20px; display:flex; flex-direction:column; background-color:white;">
                <h1 style="font-weight: 400; font-size: 28px; line-height: 36px;">
                    Shopping Basket
                </h1>
                <p style="color:#007185;">
                    Deselect all items
                </p>
                <p style="align-self: end; color: #565959;margin-bottom:0;">
                    Price
                </p>
            </div>
                            <hr style="margin-top:0;margin-left:1.5rem; margin-right:1.5rem;" />
                            <div>
                                @foreach (var each in Model.productsList)
                                {
                                    if (each.productfromapi == null)
                                    {
                                        <div style="display:flex; flex-direction:row;">
                                            <img src="@each.productfromjson.Img" />
                                            <div>
                                                <h1>
                                                    @each.productfromjson.Title
                                                </h1>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div style="display:flex; flex-direction:row;">
                                            <img src="@each.productfromapi.Thumbnail" />
                                            <div>
                                                <h1>
                                                    @each.productfromapi.Title
                                                </h1>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>

        </div>
    </div>
</body>
