@page
@model E_commerce.Pages.ConfirmAddedModel
@{
}
<body style="background-color:#EAEDED !important;">
    <div style="display:flex; flex-direction: row; justify-content:space-evenly;">
        <div style="background-color:white;">
            HI
        </div>
        <div style="background-color:white;">
            YOU
        </div>
    </div>
</body>
