@page
@model E_commerce.Pages.ElectronicsModel
@{
}

<p style="font-size: 28px; line-height:36px; font-weight:700; text-align:center; margin-top: 60px">
    Categories
</p>
<div class="d-flex justify-content-center" style="gap:120px; margin-top:5%">
    <div style="width: 199px; height: 278px; text-align:center; display:flex; flex-direction:column; align-items:center">
        <div style="height: 180px; width: 180px; border-radius: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; background: #FFEFF1">
            <a asp-page="./Electronics/Laptops" style="">
                <img style="height:130px; width:130px;" src="Images/kindpng_688665.png" />
            </a>
        </div>
        <p>
            Laptop
        </p>
    </div>

    <div style="width: 199px; height: 278px; text-align:center; display:flex; flex-direction:column; align-items:center">
        <div style="height: 180px; width: 180px; border-radius: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; background: #FFEFF1">
            <a asp-page="./Electronics/SmartPhone" style="">
                <img style="height:130px; width:130px;" src="Images/kindpng_287182.png"/>
            </a>
        </div>
        <p>
            SmartPhone
        </p>
    </div>

    <div style="width: 199px; height: 278px; text-align:center; display:flex; flex-direction:column; align-items:center;">
        <div style="height: 180px; width: 180px; border-radius: 100%; display: flex; justify-content: center; align-items: center; flex-direction: column; background: #FFEFF1">
            <a asp-page="./Electronics/Accessories" style="">
                <img style="height:130px; width:130px;" src="Images/kindpng_85107.png" />
            </a>
        </div>
        <p>
            Accessories
        </p>
    </div>

</div>