@page
@model E_commerce.Pages.GroceriesModel
@{
}

<div class="d-flex">
    <div style="width: 20%;">
        Here is for selector
    </div>
    <div class="d-flex flex-wrap" style="width: 80%">
        @foreach (var product in Model.GroceriesFromAPI)
        {
            var param = new Dictionary<string, string>
    {
                    {"Title", product.Title}
                };
            <a class="card" style="height:374px; margin-bottom:8px;margin-right:8px;width:24%;text-decoration:none; color:black" asp-page="/ShowProduct" asp-all-route-data="param">
                <img style="height:50%" src="@product.Thumbnail" />
                <div class="card-body" style="height:50%">
                    <p class="card-text-2" style="font-size:large;">@product.Title</p>
                    @for (var i = 0; i < 5; i++)
                    {
                        <span class="@(i <= product.Rating ? "fa fa-star checked rating " : "far fa-star rating")"></span>
                    }
                    <p class="">£@product.Price</p>
                </div>
        </a>
        }
    </div>
</div>
