@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

}
<div class="d-flex flex-row flex-wrap justify-content-between">
    @foreach (var product in Model.Products)
    {
        <div class="card mb-3">
            <img class="card-img-top" src="@product.Img" />
            <div class="card-body">
                <h3 class="card-title text-truncate"> £@product.Price</h3>
                <p class="card-text"> @product.Title</p>
            </div>
        </div>
    }

</div>
