@page
@model E_commerce.Pages.IndexModel
@{
}

<div style="margin-left:30px">
    <h1 style="margin-bottom:60px">This is a e-commerce website's design is based on Amazon's Website.</h1>
    <p style="font-size:24px">Welcome to the starting point of my .Net Journey    <span style="font-size:64px; font-weight:bold">@ViewData["Title"]</span></p>
</div>
