@page
@model E_commerce.Pages.SmartPhoneModel
@{
}
<link rel="stylesheet" href="~/css/site.css" />
<div class="d-flex">
    <div style="width: 20%;">
        Here is for selector
    </div>
    <div class="d-flex flex-wrap" style="width: 80%">
        @foreach (var product in Model.SmartPhones)
        {
        <div class="card" style="height:374px; margin-bottom:8px;margin-right:8px;width:24%">
            <img style="height:60%" src="@product.Thumbnail" />
            <div class="card-body" style="height:40%">
                <p class="card-text" style="font-size: large">@product.Title</p>
                <div>
                    @for (var i = 0; i < 5; i++)
                    {
                        <span class="@(i <= product.Rating ? "fa fa-star checked rating " : "far fa-star rating")"></span>
                    }
                </div>
                <p class="">£@product.Price</p>
            </div>
        </div>
        }
    </div>
</div>